{%extends 'productos/login.html'%}
{% load static %}
{%block carta%} 
<div class="row">

{%if validlink%}
<h1>Nueva Contraseña</h1>
<form method="post">
{% csrf_token %}
 <div class="col-md">
    {{form.new_password1.errors}}
    <label for="id_new_password1">Nueva contraseña :</label>
    {{form.new_password1}}
</div>
<div class="col-md">
    {{form.new_password2.errors}}
    <label for="id_new_password2">Confirma contraseña:</label>
    {{form.new_password2}}
</div>
<input type="submit" value="Cambiar mi contraseña"/>
</form>
{%else%}
<h1 class="text-center">Enlace Invalido :Este Enlace ya ha sido 
{%endif%}
</div>
{% endblock %}