{% extends 'productos/index.html' %}
{% load static %}


{% block main%}
<br />
<div class="container">
<form action="{% url 'registrarPublicidad' %}" method="POST">
    {% csrf_token %}
  <div class="form-group row">
    <label for="nombrec" class="col-md-auto col-form-label">Descripcion</label>
    <div class="col-md-auto">
      <input type="text" class="form-control" id="descripcion" name="descripcion">
    </div>
  </div>
  <div class="form-group row">
    <label for="imagen" class="col-md-auto col-form-label">Imagen</label>
    <div class="col-md-auto">
        <button type="button" class="btn btn-primary" id="btn-imagen" >Seleccionar Imagen</button>
       <input type="file" class="form-control" id="imagen" name="imagen">
    </div>
  </div>
  <div class="text-center">
  <button type="submit" class="btn btn-primary mb-2 ">Registrar</button>
  </div>
</form>
</div>

    


{% endblock %}  